*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

/* Global CSS */
.obj-width{
    max-width: 1200px;
    margin: auto;
}


nav{
    background-color: #2d4c50;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em 1.3rem;
}
.navbar .logo{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 2.2rem;
}

#search-input{
    max-width: 400px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
}
#search-button{
    padding: 10px 20px;
    background-color: #138065;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

#blog-container{
    padding: 3rem 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));
    grid-gap: 30px;
}

.blog-card{
    width: auto;
    border: 1px solid #2d4c50;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    padding: 1rem;
}
.blog-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.blog-card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.blog-card h2{
    font-size: 1.7rem;
    color: #141414;
    font-weight: 500;
}
.blog-card p{
    font-size: 1.2rem;
    padding-top: 0.7rem;
}



/* Device size - 500px */

@media screen and (max-width: 35.25em){
    .navbar{
        flex-wrap: wrap;
    }
    .navbar .logo{
        margin-bottom: 10px;
        font-size: 1.8rem;
    }
    #search-input{
        margin-bottom: 10px;
        width: 150px;
        padding: 10px 10px;
    }
    #search-button{
        margin-left: 0;
    }
}